<div class="row">
    <h1>Experiencia Laboral</h1>
    <div class="col-lg-1"></div>
    <div class="col-lg-11">
        <ul>
            <li>
                <h1>Trabajo 1</h1> - <h3>(years)</h3>
            </li>
            <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Eos dicta amet optio quas reiciendis illum quibusdam, expedita rem? Nisi dolorem repudiandae quisquam voluptatibus nesciunt, placeat pariatur corrupti possimus doloribus iusto!</p>
        </ul>
        <ul>
            <li>
                <h1>Trabajo 2</h1> - <h3>(years)</h3>
            </li>
            <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Eos dicta amet optio quas reiciendis illum quibusdam, expedita rem? Nisi dolorem repudiandae quisquam voluptatibus nesciunt, placeat pariatur corrupti possimus doloribus iusto!</p>
        </ul> 
        <ul>
            <li>
                <h1>Trabajo 3 </h1> - <h3>(years)</h3>
            </li>
            <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Eos dicta amet optio quas reiciendis illum quibusdam, expedita rem? Nisi dolorem repudiandae quisquam voluptatibus nesciunt, placeat pariatur corrupti possimus doloribus iusto!</p>
        </ul> 
    </div>
</div>
