/*--------------------------------------------------------------
# Hero Section
--------------------------------------------------------------*/
#hero {
    width: 100%;
    height: 100vh;
    background: url("../../../assets/Banner.jpg") center;
    background-size: cover;
  }
  
  #hero .hero-container {
    position: relative;
    z-index: 2;
    min-width: 300px;
  }
  
  #hero h1 {
    margin: 0 0 10px;
    font-size: 64px;
    font-weight: 700;
    line-height: 56px;
    color: #fff;
  }
  
#yo {
    color: #fff;
    margin-bottom: 0px;
    font-size: 26px;
    font-family: "Poppins", sans-serif;
  }
#typed{
  color:#fff;
  position: absolute;
  margin-left: 10px;
}
