  <!-- ======= Hero Section ======= -->
  <div id="hero" class="fluid d-flex flex-column justify-content-center align-items-center">
    <div class="hero-container" data-aos="fade-in">
      <h1>Bienvenido</h1>
      <p id="yo" class="col-lg-1"><ngx-typed-js id="typed" [strings]="['A Mi Port-Folio', 'Que lo disfrutes!...']" [loop]="true"> <span class="typing"></span>
      </ngx-typed-js><!--<span class="typed" data-typed-items="Developer, Freelancer, Lawyer"></span> --></p>
    </div>
  </div><!-- End Hero -->