<div class="row"> 
    <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2">
    <img src="../../../assets/Me.jpg" class="img-fluid" id="fotoPerfil">
    </div>
    <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2">
        <p id="nombre">Gabriel Ignacio Torres</p>
        <p>Full Stack Developer Jr</p>
        </div>
        <div class="col-xs-12 col-sm-8 col-md-8 col-lg-8">
            <span>
                <h1>Acerca de mí</h1>
                <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Unde sed, maiores voluptate explicabo hic distinctio voluptas veritatis ut consequuntur natus vero animi laborum. In voluptates, ex doloribus dignissimos ut quibusdam?</p>
            </span>
        </div>
</div>
