<div class="row">
    <div class="container">
        <div class="logo">
            <img src="../../../assets/APLogo.png" id="logoAP"> <img src="../../../assets/LogosInti.png" id="logoIn">
        </div>
        <div class="redes">
                <a href=""><img src="../../../assets/LinkedInLogo.png" id="linked"></a>
                <a href="https://github.com/GTorres10"><img src="../../../assets/GithubLogo.png" id="gitLogo"></a>
                <a href=""><img src="../../../assets/WhatsApplogo.png" id="WhatsappLogo"></a>
                <button type="button" class="btn btn-outline-link">Ingresar</button>
        </div>
    </div>
</div>
